

BOARD_HEIGHT = 20
BOARD_WIDTH =  20

KEY_MAPPING = {
    'KEY_MOVE_LEFT': 'a',
    'KEY_MOVE_RIGHT': 'd',
    'KEY_ROTATE_CW': 's',
    'KEY_ROTATE_CCW': 'w',
}


# any kind of newline is supported in shapes
SHAPES = (
    '****',
    '* \n* \n**',
    ' *\n *\n**',
    ' *\n**\n* ',
    '**\n**',
)
